.switch {
    --switch-button-space: calc((var(--switch-bar-height) - var(--switch-button-size))/2);
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    label {
        display: block;
        width: var(--switch-bar-width);
        height: var(--switch-bar-height);
        border-radius: var(--border-radious);
        background-color: var(--switch-bar-off-background-color);
        position: relative;
        transition: 0.5s;
        box-shadow: var(--switch-bar-shadow);

        cursor: pointer;

        &:active,
        &:hover {
            transition: 0.3s;
            box-shadow: var(--switch-active-shadow);
        }

        &:after {
            box-shadow: var(--switch-lever-shadow);
            content: "";
            width: var(--switch-button-size);
            height: var(--switch-button-size);
            background-color: var(--switch-lever-off-background-color);
            position: absolute;
            border-radius: var(--border-radious);
            transition: 0.6s;
            bottom: var(--switch-button-space);
            transform: translateX(var(--switch-button-space));
        }
    }

    // Switch on
    input {

        &:checked {
            +label {
                background-color: var(--switch-bar-on-background-color);
            }

            +label:after {
                transform: translateX(calc(var(--switch-bar-width) - var(--switch-button-space) - var(--switch-button-size)));
                background-color: var(--switch-lever-on-background-color);
            }
        }
    }
}