@use '@sass_settings/sizes.scss';

.section {
    width: var(--section-width);
    max-width: 100%;
    /* if no flex in parent:
    margin-right: auto;
    margin-left: auto; */

}

.full {
    width: 100%;
}

.test {
    background-color: lightgrey;
}