@use '@sass_settings/sizes.scss';

/*Simple css to style it like a button switch*/
.container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
}

.title {
    color: var(--color-light-1);
}